<h1>Welcome to Service Scrapping</h1>

<p>Please choose your currency :</p>

<%= form_for :currency_form do |f| %>

	<select name="currency_id">
		<%= Currency.all.each do |element| %>
		<option value="<%= element.id %>"><%= element.currency_name %></option>
		<% end %>
	</select>

	<%= f.submit "Get the price!" %>

	<br />
	<br />


		<%= @currency_name %>
	<% if @currency_name != nil %>
		<%= @currency_name.currency_name %> : <%= @currency_name.currency_price %>
	<% end %>

<% end %>